@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Inconsolata');
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

#loading-animation {
  display: none;
}

h1 {
  text-align: center;
  color: #626262;
  padding: 10px;
  border-bottom: 1px solid;
  width: 250px;
  margin: 0 auto 25px;
  margin-top: 30px;
  font-weight: 200;
}

.toggles {
  padding-top: 2em;
  width: 800px;
  margin: auto;
  display: block;
  clear: both;
  overflow: hidden;
}

.toggles button {
  display: block;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 168px;
  cursor: pointer;
}
