@media screen and (max-width: 736px) {
    #flex-container {
        flex-direction: column;
        align-items: center;
    }
    hr {
        display: block;
        opacity: 0.3;
        width: 100%;
    }
    #navigation {
        display: none;
    }
    #navPanel {
        padding: 0;
        text-align: left;
    }
    #navPanel nav {
        padding-left: 1em;
    }
    #head {
        display: none;
    }
    #left, #right {
        margin-top: 2em;
    }
    #footer {
        margin-top: 10em;
    }
    .content {
        height: fit-content;
    }
    #logo{
        padding-left:0;
        position:static;
    }

}
