.action .container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}

.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.inprogress {
  color: #d87770;
  border: 2px solid #d87770;
  background: white;
  content: "STOP";
}

.inprogress:hover {
  color: #d87770;
  border: 2px solid #d87770;
  background: gray;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.mdl-layout {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding: 24px;
  flex: none;
}

.mdl-textfield__error {
  width: 100%;
  left: 0;
  text-align: left;
}

.hidden {
  display: none;
}

.started {
  color: red;
  border-color: red;
}

.started:hover {
  background: red;
}

.paused {
  color: #bfbf9a9c;
  border-color: #bfbf9a9c;
}

.paused:hover {
  background: #bfbf9a9c;
}