<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FY94MC4TFD"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-FY94MC4TFD');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>Your Orders</title>

	<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">

	<link rel='stylesheet'
		href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.css'>

	<link rel="stylesheet" href="mobile-assets/css/footer.css" type="text/css">
	<link rel="stylesheet" href="mobile-assets/css/header.css">


	<link rel="stylesheet" href="css/loading.css" type="text/css">
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/all.css">

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.js'></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
		type="text/javascript"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>

	<script src="js/common.js"></script>
	<script src="mobile-assets/js/common.js"></script>


	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/orders.css" type="text/css">

</head>

<body style="height:auto; min-height:100vh">
	<div id="loading" class="loading hidden">
		<div>
			<div class="c1"></div>
			<div class="c2"></div>
			<div class="c3"></div>
			<div class="c4"></div>
		</div>
	</div>
	<div class="modal-wrapper hidden">
		<div class='modal'>
			<div class='header'>
				<span id="first"></span>
			</div>
			<div class='content'>
				<span id="second"></span>
			</div>
			<div id="stars-container" class="rating rating2 hidden">
				<a href="#5" onclick="selectedStars = 5;" title="Give 5 stars">★</a>
				<a href="#4" onclick="selectedStars = 4;" title="Give 4 stars">★</a>
				<a href="#3" onclick="selectedStars = 3;" title="Give 3 stars">★</a>
				<a href="#2" onclick="selectedStars = 2;" title="Give 2 stars">★</a>
				<a href="#1" onclick="selectedStars = 1;" title="Give 1 star">★</a>
			</div>
			<div class='actions'>
				<button class="primary-red" id='yes'></button>
				<button class="secondary-orders" id='no'></button>
			</div>
		</div>
	</div>
	<div class="content" style="min-height: 100vh; height: auto;">
	<div class="header" style="height: 51px;">
			<div id="logo"><a href="/" style="display:none" class="logo-font">He!pHog</a></div>
			<ul id="navigation" style="line-height: 1.5;">
				<div id="signed-in-nav" class="hidden">
					<li id="settings"><a href="settings">Settings</a></li>
					<li id="apply"><a href="quickapply">Apply</a></li>
					<li id="orders"><a href="orders">Orders</a></li>
					<li id="provider" class="hidden"><a href="provider">Provider Portal</a></li>
					<li id="contact"><a href="contact">Contact Us</a></li>
					<li id="about"><a href="about">About</a></li>
				</div>
				<div id="signed-out-nav" class="hidden">
					<li id="sign-in-nav"><a href="signin">Login</a></li>
					<li id="register-nav"><a href="registration">Register</a></li>
					<li id="track-order"><a href="tracking">Track Order</a></li>
					<li id="contact"><a href="contact">Contact Us</a></li>
					<li id="about"><a href="about">About</a></li>
				</div>
			</ul>
		</div>
		<header id="header" class="alt">
			<nav id="nav">
				<ul>
					<li class="current"><a href="/">home</a></li>
					<li><a data-path="contact" href="contact">contact us</a></li>
					<li><a data-path="provider" href="provider">provider portal</a></li>
					<li><a data-path="orders" href="orders">orders</a></li>
					<li><a data-path="tracking" href="tracking">track orders</a></li>
					<li><a data-path="registration" href="registration">register</a></li>
					<li><a data-path="settings" href="settings">settings</a></li>
					<li><a data-path="signin" href="signin">login</a></li>

				</ul>
			</nav>
		</header>
		<!--<div class="title" style="display:none;">-->
		<!--	<h1>Orders</h1>-->
		<!--	<h2>If you have any other questions or concerns about your order, please <a href="contact">contact us</a></h2>-->
		<!--</div>-->
		<div id="app">
			<v-app id="inspire">
				<div id="wrapper" style="width: 97%; box-shadow:0 1px 3px 0 rgb(0 0 0 / 30%), 0px 0px 1px 0px rgb(0 0 0 / 28%)">
					<v-toolbar flat color="white">
						<v-toolbar-title>Order History</v-toolbar-title>
						<v-spacer></v-spacer>
						<d style="color:#a7a7a7;">click on row
							for details</d>
					</v-toolbar>
					<v-data-table :headers="headers" :items="orders" :expand="expand" item-key="number">

						<template v-slot:items="props">

							<tr>
								<td style='font-weight:400;' class="text-xs-left"
									@click="props.expanded = !props.expanded">{{ props.item.number }}</td>
								<td class="text-xs-left" style='font-weight:400;'
									@click="props.expanded = !props.expanded">{{ props.item.name }}</td>
								<td class="text-xs-left" style='font-weight:400;'
									@click="props.expanded = !props.expanded">{{ props.item.date }}</td>
								<td class="text-xs-left" style='font-weight:400;'
									@click="props.expanded = !props.expanded">{{ props.item.time }}</td>
								<td class="text-xs-left" style='font-weight:400;'
									@click="props.expanded = !props.expanded">{{ props.item.provider }}</td>
								<td class="text-xs-left" style='font-weight:400;'
									@click="props.expanded = !props.expanded">${{ props.item.amount }}</td>
								<td v-if="props.item.status == 'ac' || props.item.status == 'cc' || props.item.status == 'pc' || props.item.status == 'pe'"
									class="text-xs-left" style='font-weight:500;'>{{ (props.item.status == 'pe'
									? "Pending" : props.item.status == 'cl' ? "Claimed" : props.item.status ==
									'st' ? "In Progress" : props.item.status == 'en' ? "Ended" :
									props.item.status == 'mc' ? "Completed" : props.item.status == 're' ?
									"Refunded" : props.item.status == 'pd' ? "Paid" : props.item.status == 'di'
									? "Disputed" : "Cancelled") }}</td>
								<td v-if="props.item.status == 'cl' || props.item.status == 'st' || props.item.status == 'en'"
									class="text-xs-left" style='font-weight:500; color:blue;'>{{
									(props.item.status == 'pe' ? "Pending" : props.item.status == 'cl' ?
									"Claimed" : props.item.status == 'st' ? "In Progress" : props.item.status
									== 'en' ? "Ended" : props.item.status == 'mc' ? "Completed" :
									props.item.status == 're' ? "Refunded" : props.item.status == 'pd' ? "Paid"
									: props.item.status == 'di' ? "Disputed" : "Cancelled") }}</td>
								<td v-if="props.item.status == 'di'" class="text-xs-left"
									style='font-weight:500; color:red;'>Disputed</td>
								<td v-if="props.item.status == 're'" class="text-xs-left"
									style='font-weight:500; color:#3f51b5;'>Refunded</td>
								<td v-if="props.item.status == 'pd'" class="text-xs-left"
									style='font-weight:500; color:#795548;'>Paid</td>
								<td v-if="props.item.status == 'mc'" class="text-xs-left"
									style='font-weight:500; color:#3f8242;'>Task Completed</td>
								<td v-if="props.item.status == 'mc' && props.item.rating == '0'"
									class="text-xs-left" style='font-weight:400;'>
									<!--<v-btn @click="status(); selectedItem = props.item; " class="dark">Review-->
									<!--	Order-->
									<!--</v-btn>-->
									<button
										onclick="openReviewPopup(this.parentElement.parentElement.firstElementChild.innerText, this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.innerText)"
										class="secondary-orders cancel-button">
										Review Order
									</button>
									<transition name="fade" appear>
										<div class="modal-overlay" v-if="showModal"
											@click="showModal = false"></div>
									</transition>
									<transition name="pop" appear>
										<div class="modal" role="dialog" v-if="showModal">
											<h1>Confirm Completion</h1>
											<p style="font-size: 16px;">If your order has been successfully
												completed
												please review {{ selectedItem.provider }}'s performance as
												your {{
												selectedItem.name }} provider and mark the order completed.
												If you have
												any questions/concerns please contact us.</p>

											<div class="rating rating2">
												<a @click="setRating(5)" href="#5"
													title="Give 5 stars">★</a>
												<a @click="setRating(4)" href="#4"
													title="Give 4 stars">★</a>
												<a @click="setRating(3)" href="#3"
													title="Give 3 stars">★</a>
												<a @click="setRating(2)" href="#2"
													title="Give 2 stars">★</a>
												<a @click="setRating(1)" href="#1" title="Give 1 star">★</a>
											</div>

											<br><br>
											<v-btn @click="markCompleted(selectedItem)" class="Submit"
												style="color:#1ecd27;">Mark Completed</v-btn>
											<v-btn @click="markIncompleted(selectedItem)" class="Submit"
												style="color:red;">Dispute Order</v-btn>
										</div>
									</transition>
								</td>
								<td v-else-if="props.item.status  == 'pe' || props.item.status == 'cl'"
									class="text-xs-left" style='font-weight:300;'>
									<!--<v-btn @click="status2(); selectedItem = props.item" class="secondary-orders">Cancel-->
									<!--	Order-->
									<!--</v-btn>-->
									<button
										onclick="openCancelPopup(this.parentElement.parentElement.firstElementChild.innerText)"
										class="secondary-orders cancel-button">
										Cancel Order
									</button>
									<transition name="fade" appear>
										<div class="modal-overlay" v-if="showCancel"
											@click="showCancel = false"></div>
									</transition>
									<transition name="pop" appear>
										<div class="modal" role="dialog" v-if="showCancel">
											<h1>Confirm Cancellation</h1>
											<p style="font-size: 16px;">{{ selectedItem.warning }}Are you
												sure you would
												like to cancel?</p>
											<br><br>
											<v-btn @click="cancel(selectedItem)" class="secondary-orders"
												style="color:red;">
												Cancel Order</v-btn>
											<v-btn @click="undo2()" class="Submit">Exit</v-btn>
										</div>
									</transition>
								</td>
								<td v-else class="text-xs-left" style='font-weight:300;'>
									None
								</td>
							</tr>
						</template>
						<template v-slot:expand="props" style="font-weight: 500">
							<v-data-table :items="[props.item]" :expand="expand" item-key="name" hide-actions>
								<template v-slot:headers="props">
								</template>
								<template v-slot:items="props">
									<tr style="height: 95px;">
										<td width="10%" style='font-weight:300;'></td>
										<td width="15%" style='font-weight:300; text-align:left!important;'>
											Message: {{
											props.item.message }}</td>
										<td width="10%" class="text-xs-left" style='font-weight:300;'>Work
											Started:
											<br>{{ props.item.began }}
										</td>
										<td width="10%" class="text-xs-left" style='font-weight:300;'>Work
											Ended: <br>{{
											props.item.ended }}</td>
										<td v-if="props.item.provider != ''" width="10%" class="text-xs-left"
											style='font-weight:300;'>Provder ID:<br><span>{{
												props.item.providerId }}</span></td>
										<td v-else width="10%" class="text-xs-left"
											style='font-weight:300; color: black;'>No Provider</td>
										<td v-if="props.item.type == 'hour'" width="15%" class="text-xs-left"
											style='font-weight:300;'>{{ props.item.hours == 0 ? "&#60;1" :
											props.item.hours }} hour(s) at ${{ props.item.wage }} per hour
											<span>+ tax ({{
												props.item.tax_percent }}%)</span>
										</td>
										<td v-if="props.item.type == 'per'" width="15%" class="text-xs-left"
											style='font-weight:300;'>${{ props.item.wage }} <span>+ tax ({{
												props.item.tax_percent }}%)</span></td>

										<td v-if="props.item.status == 'ac'" width="30%" class="text-xs-left"
											style='font-weight:300;'>Not enough providers were located for
											your order.
											The refund will appear in your bank statement within 5-10
											business days from
											your order date.</td>
										<td v-if="props.item.status == 'cc'" width="30%" class="text-xs-left"
											style='font-weight:300;'>You canceled this order. The refund will
											appear in
											your bank statement within 5-10 business days of your
											cancellation date.
										</td>
										<td v-if="props.item.status == 'pc'" width="30%" class="text-xs-left"
											style='font-weight:300;'>You canceled this order. The refund will
											appear in
											your bank statement within 5-10 business days of the cancellation
											date.</td>
										<td v-if="props.item.status == 'di'" width="30%" class="text-xs-left"
											style='font-weight:300;'>You have disputed this order. You will
											not be
											charged until the dispute is resolved.</td>
										<td v-if="props.item.status == 're'" width="30%" class="text-xs-left"
											style='font-weight:300;'>The provider has issued a refund for
											your order.
											The refund will appear in your bank statement within 5-10
											business of the
											issued date.</td>
										<td v-if="props.item.status == 'pe'" width="30%" class="text-xs-left"
											style='font-weight:300;'>Your order has been dispatched to local
											providers.
										</td>
										<td v-if="props.item.status == 'cl'" width="30%" class="text-xs-left"
											style='font-weight:300;'>Your order has been claimed by
											provider(s). The
											provider will keep in contact with you.</td>
										<td v-if="props.item.status == 'st'" width="30%" class="text-xs-left"
											style='font-weight:300;'>The provider(s) started working on your
											task.</td>
										<td v-if="props.item.status == 'en'" width="30%" class="text-xs-left"
											style='font-weight:300;'>The provider(s) finished working on your
											task.</td>
										<td v-if="props.item.status == 'mc'" width="30%" class="text-xs-left"
											style='font-weight:300;'>Your order has been marked as completed.
										</td>
										<td v-if="props.item.status == 'pd'" width="30%" class="text-xs-left"
											style='font-weight:300;'>Payment has been processed for this
											order.</td>

									</tr>
								</template>
							</v-data-table>
						</template>
					</v-data-table>
				</div>
			</v-app>
		</div>
		<script src="js/orders.js"></script>
		<script src="mobile-assets/js/jquery.min.js"></script>
    	<script src="mobile-assets/js/jquery.dropotron.min.js"></script>
    	<script src="mobile-assets/js/jquery.scrolly.min.js"></script>
    	<script src="mobile-assets/js/jquery.scrollex.min.js"></script>
    	<script src="mobile-assets/js/browser.min.js"></script>
    	<script src="mobile-assets/js/breakpoints.min.js"></script>
    	<script src="mobile-assets/js/util.js"></script>
    	<script src="mobile-assets/js/main.js"></script>
	</div>
	<footer id="footer">

		<ul class="copyright">
			<li>&copy; 2021 HelpHog LLC. All rights reserved.</li>
			<li><a href="privacy">Privacy Policy</a></li>
			<li><a href="terms">Terms of Use</a></li>
			<li><a href="cookie">Cookie Policy</a></li>
		</ul>


	</footer>
</body>

</html>
