@media screen and (max-width: 900px) {
  #navPanel {
    text-align: left;
  }
  .header {
    display: none;
  }
  main {
    width: 100% !important;
  }
  .results--grid {
    width: fit-content;
  }
  #bottom-row {
    width: fit-content !important;
  }
  .modal>.actions {
    margin-top: 20px;
    margin-bottom: 0px;

  }
  .modal>.content {
    margin-top: 10px;
  }
  .modal {
      width: 80%;
  }
  #zip-input {
      margin-top: 0px;
      margin-bottom: 0px;
  }
}