footer> :last-child {
	margin-bottom: 0;
}

footer.major {
	padding-top: 3em;
}

#footer {
	background: #E8EEF4;
	color: #7c8081;
	padding: 5em 5em 10em 5em;
	text-align: center;
	font-size: 1em;
}

#footer>li {
	list-style-type: none;
}

#footer .copyright {
	font-size: 0.8em;
	line-height: 1em;
	padding: 0;
}

#footer .copyright a {
	color: inherit;
}

#footer .copyright li {
	display: inline-block;
	margin-left: 1em;
	padding-left: 1em;
	border-left: dotted 1px;
}

#footer .copyright li:first-child {
	margin: 0;
	padding: 0;
	border: 0;
}

@media screen and (max-width: 980px) {
	footer.major {
		padding-top: 1.5em;
	}
}

@media screen and (max-width: 840px) {
	/* Footer */
	#footer {
		padding: 4em 1.5em;
	}
}

/* Mobile */

@media screen and (max-width: 736px) {
	footer.major {
		padding-top: 0;
	}
	/* Footer */
	#footer {
		padding: 3em 1.5em;
	}
	#footer .copyright li {
		display: block;
		margin: 1em 0 0 0;
		padding: 0;
		border: 0;
	}
}