@media screen and (max-width: 850px) {
    #navPanel {
        text-align: left;
        padding: 0 !important;
        font-size: 1em;
    }
    .header {
        display: none;
    }
    #navPanel nav a {
        padding-left: 1em;
    }
    #home-page-main {
        width: fit-content !important;
    }
    #slogan {
        width: fit-content !important;
    }
    h5 {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4.5em;
    }
    .toggles {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        justify-content: space-evenly;
    }
    .toggles button {
        width: 40%;
    }
    #search {
        width: 100%;
    }
    .search-container {
        width: 90%;
    }
    .search-box {
        width: 100%;
    }
}
