.inner h2 {
    font-size: 3em;
}

#categories>button {
    color: black;
    margin: 0.5em;
    width: 45%;
}

#search-container {
    display: flex;
    align-items: center;
}

#main {
    background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 25em;
}

#search-container>span {
    left: 2em;
}

#search-container>input {
    padding-left: 4em;
}

#categories {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;
}

.inner>article>input {
    font-size: 0.8em;
}

#banner .inner {
    width: 80%;
    max-width: 700px;
    margin-bottom: 1em;
}

video {
    margin-bottom: 1em;
}

@media screen and (max-width: 736px) {
    #categories>button {
        width: 100%;
    }
    #categories {
        width: 65%;
    }
}